body {
  text-align: center;
  background-color: whitesmoke;
  color: black;
  font-family: Courier New;
}
.dark-mode {
  background-color: black;
  color: silver;
  font-family: Courier New;
}
.header-1 {
  font-weight: bold;
}
.invite {
  background-color: silver;
  border: transparent;
  color: black;
}
#topnav {
  background-color: #333;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 99999;
}
#topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float: left;
}
#topnav a:hover {
  background-color: #ddd;
  color: black;
}
#dark-mode {
  background-color: black;
  color: silver;
  border: transparent;
  font-family: Courier New;
}
.help-command {
  text-align: center;
  font-weight: bolder;
}
.avatar-command {
  text-align: center;
  font-weight: bolder;
}
.ban-command {
  text-align: center;
  font-weight: bolder;
}
.kick-command {
  text-align: center;
  font-weight: bolder;
}
.lockdown-command {
  text-align: center;
  font-weight: bolder;
}
.clear-command {
  text-align: center;
  font-weight: bolder;
}
.emoji-command {
  text-align: center;
  font-weight: bolder;
}
.mute-command {
  text-align: center;
  font-weight: bolder;
}
.unmute-command {
  text-align: center;
  font-weight: bolder;
}
.nuke-command {
  text-align: center;
  font-weight: bolder;
}
.jail-command {
  text-align: center;
  font-weight: bolder;
}
.unjail-command {
  text-align: center;
  font-weight: bolder;
}
.line {
  height: 6px;
  background-color: black;
  width: 200px;
  margin: 8px auto;
}
#invite {
  width: 205px;
  height: 300;
}
#invite:hover {
  width: 250px;
  background-color: silver;
  cursor: pointer;
}
#support {
  width: 250px;
  height: 300;
}
#support:hover {
  width: 295px;
  background-color: silver;
  cursor: pointer;
}
.white-line {
  height: 2px;
  background-color: whitesmoke;
  width: 1263px;
  margin: 8px auto;
}
